.station {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-0);
  border-radius: var(--border-radius);
  padding: var(--spacing-s) var(--spacing-m);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-m);
}

.bikes, .slots {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
}
